{
   project =
   {
      description="📆 Calendar class NSCalendar";
      domain="github";
      name="MulleObjCCalendarFoundation";
      user="MulleFoundation";
      repo="MulleObjCCalendarFoundation";
      homepage="https://github.com/MulleFoundation/MulleObjCCalendarFoundation";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="💻 Platform-dependent classes and categories like NSTask, NSPipe";
         domain="github";
         name="MulleObjCOSFoundation";
         repo="MulleObjCOSFoundation";
         url="https://github.com/MulleFoundation/MulleObjCOSFoundation";
         user="MulleFoundation";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
